body {
  box-sizing: border-box;
  background-color: #ffcdb2;
}

button {
  background-color: aquamarine;
}

.card {
  width: 30%;
  border: 15px solid black;
  margin-top: 3%;
  text-align: center;
  padding: 3% 0 3%;
  background-color: #6d6875;
  color: #e5e5e5;
}
